form button {
  background-color: var(--highlight);
  border: 0;
  /* border: 1px solid white; */
  /* height: 30px; */
  /* width: 30px; */
  padding: 9px 9px;
  color: white;
  font-size: 30px;
}

#searchText {
  font-family: 'Lucida Console', sans-serif;
  color: var(--highlight);
  font-size: 30px;
  background-color: black;
  border: 0;
  border-bottom: 1px solid grey;
  padding-bottom: 7px;
}

#searchText:focus{
    outline: none;
    border-bottom: 1px solid white;
}
